/* // import { makeStyles } from "@mui/styles";
// import { styled } from "@mui/system"

// export const MyCardContent = {
//     display: 'flex',
//     justifyContent: 'space-between',
// }

// export const MyCardActions = {
//     display: 'flex',
//     justifyContent: 'flex-end',
// }

// export default styled(() => ({
    // root: {
    //     maxWidth: '100%'
    // },
    // media: {
    //     height: 0,
    //     paddingTop: '56.25%',
    // },
    // cardActions: {
    //     display: 'flex',
    //     justifyContent: 'flex-end',
    // },
    // cardContent: {
    //     display: 'flex',
    //     justifyContent: 'space-between',
    // },
// })) */

.cardActions {
    display: 'flex';
    justify-content: 'flex-end';
}

.cardContent {
    display: flex;
    justify-content: space-between;
}
